/* Landing Page*/
/* picture */
.pic {
  padding-bottom:32px; 
  padding-top:32px;
}

* {
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  color: black;
}

h1, h3 {
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.socials {
  position: relative;
  text-align: center;
  top: 100%;
}

.github-link {
  text-decoration: none;
  color: black;
}

.linkedin-link {
  text-decoration: none;
  color: black;
}

.circle {
  margin: auto;
  border-radius: 50%;
}

.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body {
  background-image: url('tamu.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

.content-container {
  text-align: center;
  background:#E8E8E8; padding-top:1rem; padding-bottom: 2rem;
}

.content-container > p {
  color:black;
}

.content-container > p > a {
  color: black;
}

/* Navbar */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h3, a.navbar-items {
	color: #000000;
}

a.navbar-items {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #000000;
	font-size: .99em;
}

.main-nav a:hover {
	color: #5f5f5f;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/*
Setting position relative means
relative to normal position
*/
.switch-container {
  position: relative;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 8px;
  right: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-translation: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2195F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2195F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* portfolio css */

.list-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.projects {
  list-style: none;
  padding: 20px;
}

.project-cards {
  padding-bottom: 20px;
  padding-top: 20px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}



/* Qualifications HTML */
.qualifications-header {
  text-align: center;
}

.qualifications-container {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.resume-container {
  text-align: center;
}

.content-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.skills-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-4, .col-md-6, .mb-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.rounded-circle {
  border-radius: 50%!important;
}